*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PT Sans, Calibri, sans-serif;
}

.app{
  width: 100%;
  background-color: lightcyan;
  font-family: sans-serif;
}
 
.body{
  width:100%;
  padding:10px;
}

.search{
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* gap:10px */
}

.search input{
  width: 600px;
  height: 40px;
  padding: 10px;
  font-size: 17px;
  /* border-radius: 5px;*/
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px solid black;
}

.search button{
  width: 100px;
  height: 40px;
  background-color: rgb(172, 25, 25);
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 17px;
}

.res-card{
    cursor: pointer;
    border-radius: 5px;
    width: 240px;
    margin: 20px;
    /* height: 300px; */
    padding: 10px;
    box-shadow: -1px 5px 10px 5px rgba(112, 112, 112, .2);
}

.res-card>img{
    width: 100%;
    height: 150px;
    border-radius: 5px;
}

.res-card>h3{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.res-card>span {
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
  display: flex
;
}

.res-card>span>h4:first-child {
  background-color: green;
  /* color: #fff; */
  border-radius: 5px;
  align-items: center;
  margin-top: 5px;
  padding: 5px;
  display: flex
;
}

.res-container{
    flex-wrap: wrap;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    width: auto;
    display: flex;
}


.filter-btn{
  background-color: rgb(172, 25, 25);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
}

.shimmer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.shimmer-cards{
  width:240px;
  height: 280px;
  margin: 20px;
  border-radius: 5px;
  background-color: grey;
}

.login{
  padding: 10px 20px;
}